{% extends 'base.html' %}

{% block content %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

<style>

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 3px;
  column-gap: 3px;
}

a {
  color: black;
}

.card {
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: rgba(165, 37, 86, 0.666);
}

.card-body {
    justify-content: center;
    text-align: center;
    background-color: rgba(249, 0, 108, 0.322);
    opacity: 0,5;
}

.card-text {
  margin-top: 20px;
  margin-bottom: 10px;
}

.card-font {
  color: black;

}
.card:hover {
  transform: translateY(-10px);
}

h1{
  font-size: 20px;
}
h2{
  color: aliceblue;
  font-size: 18px;
}

h3{
  justify-content: center;
  text-align: center;
  font-size: 15px;
  color: aliceblue;
  margin-bottom: 5px;
}

h4 {
  font-size: 30px;
}

h5 {
  justify-content: center;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
  margin-bottom: 7px;
}

h6 {
  font-size: 15px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.submit {
      background-color: rgba(165, 37, 86, 0.819);
      border-radius: 80px;
      max-width: fit-content;
      min-width: fit-content;
      vertical-align: middle;
      box-sizing: content-box;
      color: rgb(252, 252, 252);
      cursor: pointer;
      font-size: 15px;
      height: 25px;
      margin-top: 20px;
      outline: 0;
      text-align: center;
      width: 50%;
      margin-left: 10px;
      margin-right: 10px;
    }

  .submit:hover {
    box-shadow: 0 0.5em 0.3em -0.2em var(--hover);
    transform: translateY(-0.15em);
}


</style>

<h2>User in session : {{user}} </h2>
<h5>{{user}}'s List of Tasks </h5>
<h3><button type="button" class="submit" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Add a new task</button></h3>
<body style="background-image: url(https://www.wallpaperuse.com/wallp/26-264578_m.jpg);">
  

    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    <div class="wrapper">

</div>
</div>


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Fill out your task title and description</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="card-body">
          <form class="create_task" method="POST">
              {% csrf_token %}
              <div class="card-body" style="padding-left:0.5%;margin-top: 5px; margin-bottom: 5px;">
              <h3><input 
                type="text" 
                class="form-control" 
                id="floatingInput" 
                name="title" ></h3>
                <label for="floatingInput">Title</label>
              </div>
            
              <div class="card-body" style="padding-left:0.5%;margin-top: 5px;margin-bottom: 5px;">
              <h3><textarea 
                class="form-control" 
                id="floatingDescription" 
                name="description" rows="4" cols="50"></textarea></h3>
                <label for="floatingDescription" style="padding-left:2.5%;">Description</label>
              </div>
            </form>
      </div>
      <div class="card-body">
        <h3><button type="button" class="submit" data-bs-dismiss="modal">Close</button> 
        <button type="button" class="submit" onclick="create()">Create Task</button></h3>
      </div>
    </div>
  </div>
</div>  

<h3><button class ="submit"><a href="{% url 'todolist:logout' %}" style="color:aliceblue ;">Logout</a></button></h3>
<h3>Sesi terakhir login : {{last_login}}</h3>


</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

    $(document).ready(() => {
        get_task();
    })
    function create() {
        const form = $(".create_task");
        $.ajax({
            type: "POST",
            url: "/todolist/create-task/",
            data: form.serialize(),
        }).done(function (data) {
            form.trigger("reset");
            get_task();
        });
        $("#staticBackdrop").modal("hide");
    }

    function delete_task(id) {
        $.ajax({
            type: "GET",
            url: "/todolist/hapus/" + id,
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
        }).done((data) => {
            get_task();
        })
    }

    function change_status(id) {
        $.ajax({
            type: "GET",
            url: "/todolist/cek-selesai/" + id,
            data: {csrfmiddlewaretoken: '{{ csrf_token }}', pk: id}
        }).done((data) => {
            get_task();
        })
    }

    function get_task() {
        $.ajax({
            type: "GET",
            url: "/todolist/json/"
        }).done((data) => {
            putTaskList(data);
        });
    }

    function putTaskList(data) {
        const displayTable = $('.wrapper');
        displayTable.empty();
        data.forEach(task => {
            const taskCard = `
            <div class="card" style="width: 18rem; margin-right: auto; margin-left: auto; padding-bottom: 20; margin-top: 20px;">
            <div class="card-body">
            <h4 class="card-font">${task.fields.title}</h4>
            <h6 class="card-text">${task.fields.date}</h6>
            <p class="card-font">${task.fields.description}</p>
            ${task.fields.is_finished ? "Selesai" : "Belum Selesai"} <br>
              <input type="submit" value="Change Status" class="submit" onclick="change_status(${task.pk})" />
              <input type="submit" value="Delete Task"  class="submit" onclick="delete_task(${task.pk})" />
        </div>
      </div>`
      ;
            displayTable.append(taskCard);
        })
    };
</script>

{% endblock content %}

<!-- https://getbootstrap.com/docs/4.3/components/card/ -->
<!-- https://mdbootstrap.com/docs/standard/content-styles/hover-effects/ -->
<!-- https://getbootstrap.com/docs/4.0/components/modal/ -->