{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Link tugas PBP Vero</title>
{% endblock meta %}

{% block content %}
<body style="background-color: purple;">
</body>
<style>
a {text-decoration: none; }
h1 {color: aliceblue;}
</style>
  <h1>Link Tugas</h1>
  <ul>
    <li><a href="/mywatchlist/">Click text ini untuk watchlist (tugas3)</a></li>
    <li><a href="/katalog/">Click text ini untuk katalog (tugas2)</a></li>
    <li><a href="/todolist/">Click text ini untuk todolist (tugas4)</a></li>
    </ul>
  <h3></h3>

{% endblock content %}