{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Link tugas PBP</title>
{% endblock meta %}

{% block content %}
<body style="background-color: purple; background-image: url(https://variancemagazine.com/images/the-weeknd-variance-magazine-credit-dan-deslover-8943.jpg);">
</body>
<style>
a {text-decoration: none; }
h1 {
  color: rgb(0, 0, 0); 
  text-align: center;
  font-size: 28px;
}
li{
  text-align: center;
  justify-content: center;
  font-size: 25px;
  color: black;
}
a{
  color: rgb(236, 236, 236);
}
</style>
  <h1>Link Tugas PBP</h1>
  <h1>Savero Arkabuana 2106635985 </h1>
  
  <ul>
    <li><b><a href="/mywatchlist/">Click text ini untuk watchlist (tugas3)</a></b></li>
    <li><b><a href="/katalog/">Click text ini untuk katalog (tugas2)</a></b></li>
    <li><b><a href="/todolist/">Click text ini untuk todolist (tugas4)</a></b></li>
    </ul>
  <h3></h3>

{% endblock content %}



